@import './variables.scss';
@import './mixin.scss';
@import './media-queries.scss';
@import './fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body,
html {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $black;
  background-color: $isabelline;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  background-color: transparent;
}

.section-container {
  padding: 8rem $site-padding-mobile 0;

  @include media-device-min-medium {
    padding: 8rem $site-padding-desktop 0;
  }
}

.inner-content {
  height: 100%;
  margin: 0 auto;
  max-width: $max-content-width;
}

.site-page {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page {
  &-enter {
    opacity: 0;
    z-index: 1;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 300ms;
  }

  &-exit {
    opacity: 1;
    transition: opacity 300ms;
  }

  &-exit-active {
    opacity: 0;
  }
}
