//colors
$viridian-green: #0fa3b1ff;
$uranian-blue: #b5e2faff;
$isabelline: #f9f7f3ff;
$medium-champagne: #eddea4ff;
$light-salmon: #f7a072ff;
$black: #0b090a;

$max-content-width: 1440px;

$navbar-height: 8rem;

$site-padding-mobile: 2rem;
$site-padding-desktop: 10rem;

//eases
$ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
