@import '../../styles/index.scss';

.intro-block {
  display: grid;
  gap: 2rem;
  padding: 8rem 0;

  @media (min-width: $device-medium) {
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    grid-template-rows: max-content max-content;
  }

  @media (min-width: $device-large) {
    grid-template-columns: repeat(12, 1fr);
  }

  .title-wrapper {
    overflow: hidden;
    @media (min-width: $device-medium) {
      grid-column: 1/-1;
      align-self: start;
    }

    @media (min-width: $device-large) {
      grid-column: 1/8;
      margin-top: 4rem;
    }
  }

  .description {
    @media (min-width: $device-medium) {
      grid-column: 1/-1;
      grid-row: 2/3;
    }

    @media (min-width: $device-large) {
      grid-column: 1/7;
      padding-right: 5rem;
    }

    @media (min-width: $device-xlarge) {
      grid-column: 2/8;
    }
  }

  .image-container {
    display: block;
    position: relative;
    width: 100%;
    height: min-content;
    margin-top: 10vw;

    @media (min-width: $device-medium) {
      grid-column: 2/4;
      grid-row: 3/-1;
    }

    @media (min-width: $device-large) {
      margin-top: 0;
      grid-column: 8/-1;
      grid-row: 1/-1;
    }

    @media (min-width: $device-xlarge) {
      grid-column: 9/-1;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $uranian-blue;
      transform-origin: center;
      transform: rotate(15deg);
    }
  }
  .image-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: min-content;
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      padding-top: 120%;
    }

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }
  }
}
